.balance{
    width: 100%;
    /* height: 100px; */
    background-color: burlywood;
    color: black;
}

.nobalance{
    width: 100%;
    /* height: 100px; */
    background-color: salmon;
    color: black;
}
