<div class="display" *ngIf="data.length > 0; else none">
    <h3 style="text-align: center;">Student Details</h3>
    <div class="content"  >
        <div style="overflow-x: auto; ">
            <table>
              <tr>
                <th>Student Name</th>
                <th>RegNo</th>
                <th>Fee Balance</th>
                <th>Profile</th>
              </tr>

              <!-- <tr *ngFor="let student of data; let i=index" class="tdata" [ngClass]="{balance:student.balance !='0'}"> 
                
                  <td> <h4>{{student.name}}</h4></td>
                  <td><p>{{student.course}}</p></td>
                  <td><p>{{student.fee}}</p></td>
                  <td><p>{{student.balance}}</p></td>               
                 <td><button>Update</button></td>
               
              </tr>              -->
              <tr *ngFor="let student of students; let i=index" class="tdata" [ngClass]=""> 
                
                <td> <h4>{{student.name}}</h4></td>
                <td><p>{{student.regNo}}</p></td>
                <td><p>{{student.balance}}</p></td>
                <!-- <td><p>{{student.image}}</p></td>                -->
                <td><img src="{{student.image}}" alt="student"></td>
               <td><button>Update</button></td>
             
            </tr>   
            
            </table>
          </div>
      
    </div>
</div>

<ng-template #none>
    <p>No students to display!!</p>
</ng-template>