

.balance{
    background-color: burlywood;
    color: black;
}

.nobalance{
    color: red;
    font-weight: bold;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
    height: 5px;
}  




.display{
    margin: 100px;
}
